<div class="container">
  <br><br><br>
<img src="/기쁨.jpg" width="600" height="400">
<h2 class="teal-text text-lighten-2">전문가는 인지도를 얻고</h2>
<h3 class="teal-text text-lighten-3">우리는 첫인상을 얻는다</h3>
  <%= link_to "뒤로", firth_posts_path, class: "btn waves_effect waves-light"%>
  <%= link_to "그래서?", sixth_posts_path, class: "btn waves_effect waves-light"%>
</div>
