<div class="container">
  <h2 class="teal-text text-lighten-3">누군가 나한테 어떻게<br> 입으라고 알려줬으면...</h2>
  <img src="/추천의류.jpg">
  <h3 class="teal-text text-lighten-2">Like this...</h3>
  <%= link_to "뒤로", root_path, class: "btn waves_effect waves-light"%>
  <%= link_to "그래서?", second_posts_path, class: "btn waves_effect waves-light"%>
</div>
