<div class="container">
  <h2 class="teal-text text-lighten-3">하지만 옷도많고..<br>체형도 다 다르다..</h2>
  <img src="/세상옷들.jpg" width="300" height="300">
  <img src="/체형.jpeg" width="300" height="300">
  <h3 class="teal-text text-lighten-2">Like this...</h3>
  <%= link_to "뒤로", first_posts_path, class: "btn waves_effect waves-light"%>
  <%= link_to "그래서?", third_posts_path, class: "btn waves_effect waves-light"%>
</div>
