<div class="container">
  <br><br><br>
<h4 class="teal-text text-lighten-2">그 외에도 다양한 커뮤니티 활성화!</h4><br>
<h4 class="teal-text text-lighten-3">개인 코디를 섭외할 수 있는 기능!</h4><br>
<h4 class="teal-text text-lighten-3">자신의 체형 사진만 찍으면 추천하는기능!</h4><br>
<h4 class="teal-text text-lighten-3">개인에게 맞는 의류 매장 추천기능 등등!</h4>
<br><br>
  <%= link_to "뒤로", fifth_posts_path, class: "btn waves_effect waves-light"%>
</div>
