<div class="container">
  <br><br><br>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">제가 얼굴이 하얗고 키가 180에 70키로인데 어떻게입죠?</div>
      <div class="collapsible-body"><span>양말 신고 샌들신으시고, 바지는 꼭 체인 있는걸로 금목걸이 큰거 차는거 잊지 마시구요...<br><br>
      이렇게만 입으시면 오... 좀 놀줄 아는놈인가? 소리 들으실겁니다.</span></div>
    </li>
  </ul>
<h3 class="teal-text text-lighten-2">Like this...</h3>

  <%= link_to "뒤로", second_posts_path, class: "btn waves_effect waves-light"%>
  <%= link_to "그래서?", firth_posts_path, class: "btn waves_effect waves-light"%>
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
